# Dependencies
node_modules/
**/node_modules/

# Build and Temporary Files
build/
**/build/
.svelte-kit/
**/ .svelte-kit/
dist/
**/dist/
tmp/
**/tmp/

# Secrets and Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor specific
.vscode/
.idea/
.fleet/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
